
{% extends 'ngo/germany.html' %}
{% block body %}
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/editor.css">
    <script src="http://127.0.0.1:8000/static/js/edit.js"></script>
    <div class="col-xs-4">
        {% include 'ngo/gallery.html' %}
        {% include 'components/links.html' %}
    </div>
    <div dir="rtl" class="col-xs-8">
        {% autoescape off %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 style="color: blue">ارتباط با انجمن
                        {% if can_edit %}

                            <a href="#summernote" onclick="summernote()" >(ویرایش)</a>
                        {% endif %}
                    </h2>
                        <div id="summernote"> {{ text }}</div>
                        <input type="button" style="visibility: hidden" id="submit" onclick="send('{{ ngo.latin_name }}','about')" value="ثبت">
                </div>
            </div>
        {% endautoescape %}
    </div>
{% endblock %}