{% load crispy_forms_tags %}
<div class="modal fade" id="add-pic" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>افزودن تصویر
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </h4>

              </div>
            <div class="modal-body">
                <form method="post" action="/user/add_pic/">
                    {% csrf_token %}
                    {{ pic_form|crispy }}
                    <input type="submit" value="ثبت">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
    </div>
  </div>
</div>