body{
}
#container{
    width: 80%;
}
#news_image{
    float: right;
    height: 100%;
    padding-left: 10px;
    width: 160px;
    
}
a{
    text-decoration: none;
}
#table{
    float: right;
}
#line{
    width: 100%;
}
#news{
    height: 120px;
}
#relative{
    margin-top: 26px;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown-menu >li > a{
    float: right;
    width: 100%;
}

.dropdown-menu >li > a >div{
    float: right;
}
#caption {
      opacity: 0.5;
      position: absolute;
      left: 0px;
      width: 70%;
      background-color: black;
}
.nav >li >a{
    padding: 8px;
}

#news_container{
    float: right;
}
/* navbar */
.navbar {
    background-color: #428BCA;
    border-color: #428BCA;
    min-height: 39px;
}

/* title */
.navbar .navbar-brand {
    color: #777;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}

/* link */
.navbar .navbar-nav > li > a {
    color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #333;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #A7A7A7;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

@font-face {
    font-family: "B Nazanin";
    src: url(/static/fonts/BNazanin.ttf) format("truetype");
}
.navbar  .navbar-header{
    padding-top: 8px;
    font-size: 18px;
}
body {
    font-family: "B Nazanin";
}
footer{
    border-top: 2px solid;
    text-align: center;
    height: 100px;
    border-color: blue;
}