{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div dir="rtl" class="panel-heading"> مشخصات</div>
                <div class="panel-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="ثبت">
                    </form>
                </div>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    ngo list
                </div>
            </div>
        </div>
    </div>
{% endblock %}