{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div dir="rtl" class="panel-heading"> مشخصات</div>
                <div class="panel-body">
                    <form method="post" action="" dir="rtl" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <input type="submit" value="ثبت">
                    </form>
                </div>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading" dir="rtl">
                    {% block header %}ویرایش انجمن ها{% endblock %}
                </div>
                <div class="panel-body">
                    <div class="sidebar mano" width="250" >
                        <ul class="nav nav-sidebar" dir="rtl" id="list">
                            {% for ngo in list %}
                                <li>
                                    <a class="row">
                                        <div id="{{ ngo.latin_name }}" onclick="delete_ngo('{{ ngo.latin_name }}')" class="col-sm-2 btn btn-danger">
                                            حذف
                                        </div>
                                        <div class="col-sm-2 btn btn-success" onclick="edit_ngo('{{ ngo.latin_name }}')">ویرایش</div>
                                        <div class="col-xs-8">{{ ngo.name }}</div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function delete_ngo(name){
            $.get('http://www.irifa.ir/user/delete/'+name+'/',
                function(data){
                    if(data == "deleted"){
                        parent=$('#'+name).parent()
                        parent.remove()
                    }
                }
            );
        }
        function edit_ngo(name){
            window.location.replace('http://www.irifa.ir/user/editngo/'+ name +'/');
        }

    </script>
{% endblock %}