<!DOCTYPE html>
<html lang="en">
    {% load date %}
    {% include 'head.html' %}
    <body background="http://176.9.177.17/static/img/gray.jpg">
        <div class="container" id="container">
            <div class="row">
                <img src="http://176.9.177.17/static/img/title_img.jpg" class="img-rounded" alt="Cinque Terre" id="TOP_IMAGE" width="100%" height="150">
            </div>
            <div class="row">

                <nav class="navbar col-md-12" height="10">
                    <div class="navbar-header" style="color: #ffffff;">
                        <div  dir="rtl"> {{ a|jalali }}</div>
                    </div>
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                                {% block nav_list %}
                                    {% if not user.is_authenticated %}
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">آمریکا <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                {% for ngo in america %}
                                                    <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                                                {% endfor %}

                                            </ul>
                                        </li>


                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">آسیا <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                {% for ngo in asia %}
                                                    <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}"><div id="title">{{ ngo.name }}</div></a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>


                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">اروپا <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                {% for ngo in europe %}
                                                    <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">آفریقا <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                {% for ngo in africa %}
                                                    <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">استرالیا و اقیانوسیه<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                {% for ngo in australia %}
                                                    <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="http://176.9.177.17/"></span> خانه</a></li>
                                        {% else %}
                                            {% if user.is_superuser %}
                                                <li><a href="http://176.9.177.17/logout"></span> خروج</a></li>
                                                <li><a href="http://176.9.177.17/shownews"></span> اخبار جدید</a></li>
                                                <li><a href="http://176.9.177.17/editnews"></span> ویرایش اخبار</a></li>
                                                <li><a href="http://176.9.177.17/user/addexpert"></span> افزودن کارشناس</a></li>
                                                <li><a href="http://176.9.177.17/user/addngo"></span>ویرایش انجمن ها</a></li>
                                                {% else %}
                                                <li><a href="http://176.9.177.17/ueser/changepass">تغییر رمز عبور</a> </li>
                                                <li><a href="http://176.9.177.17/ngo/{{ expert.ngo.latin_name }}/">صفحه انجمن</a> </li>
                                                <li><a href="http://176.9.177.17/logout"></span> خروج</a></li>
                                                <li><a href="http://176.9.177.17/new"></span> اخبار جدید</a></li>
                                                <li><a href="http://176.9.177.17/"></span> خانه</a></li>

                                            {% endif %}
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </div>
                </nav>
            </div>
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer >
            <div class="col-xs-12" >
                <p></p>
                <p><a href="http://176.9.177.17/login/">ورود اعضا</a> | <a href="#">قوانین</a> </p>
                <p>کلیه حقوق این سایت برای پایگاه اینترنتی انجمن دوستی ایران و سایر کشور ها است</p>
            </div>
        </footer>
    </body>
</html>
