<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ BASE_URL }}/static/css/bootstrap.css">
    <script src="{{ BASE_URL }}/static/js/jquery.js"></script>
    <script src="{{ BASE_URL }}/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="simple-sidebar.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/static/css/sliderCSS.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/static/css/main.css">
    <link href="{{ BASE_URL }}/static/css/summernote.css" rel="stylesheet">
    <script src="{{ BASE_URL }}/static/js/summernote.min.js"></script>
    <script src="{{ BASE_URL }}/static/js/jquery.cookie.js"></script>
    <script src="{{ BASE_URL }}/static/js/dropdown.js"></script>
    <link href="{{ BASE_URL }}/static/css/font-awesome.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>

