{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <link rel="stylesheet" href="{{BASE_URL}}/static/css/editor.css">


    <script src="{{BASE_URL}}/static/js/edit.js"></script>

    <div class="panel panel-primary">
        <div class="panel-body">
            <form   method="post" action="" enctype="multipart/form-data" dir="rtl">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-xs-5"></div> <button class="btn btn-primary col-xs-2" style="font-size: 20px" type="submit" id="submit">ثبت</button>
            </form>
        </div>
    </div>
    <script>
        summernote();
    </script>
{% endblock %}















