{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load date %}
{% block page_title %}{{ news.titel }}{% endblock %}
{% block nav_list %}

    {% if not user.is_authenticated %}
        <li><a href="#"></span> درباره ما</a></li>
        <li><a href="#"></span> خانه</a></li>
         <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">آمریکا <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for ngo in america %}
                        <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                    {% endfor %}

                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">آسیا <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for ngo in asia %}
                        <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}"><div id="title">{{ ngo.name }}</div></a></li>
                    {% endfor %}
                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">اروپا <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for ngo in europe %}
                        <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">آفریقا <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for ngo in africa %}
                        <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">استرالیا و اقیانوسیه<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for ngo in australia %}
                        <li dir="rtl"><a dir="rtl" href="{{ ngo.Website }}">{{ ngo.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            {% if user.is_superuser %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">دسته بندی <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ><a dir="rtl" href="i" style="float: right;">مهم</a></li>
                        <li dir="rtl"><a href="r" style="float: right;">معمولی</a></li>
                        <li dir="rtl"><a href="d" style="float: right;">حذف</a></li>
                    </ul>
                </li>
                <li><a href="http://127.0.0.1:8000/logout"></span> خروج</a></li>
                <li><a href="http://127.0.0.1:8000/shownews"></span> اخبار جدید</a></li>
                <li><a href="http://127.0.0.1:8000/editnews"></span> ویرایش اخبار</a></li>
                {% else %}
            {% endif %}
    {% endif %}
{% endblock %}
{% block body %}
    <h4 style="color: blue;;" dir="rtl">{{ news.title }}</h4>
    <div dir="rtl">{{ date }}</div>
    {% autoescape off %}
        <div dir="rtl" style="background-color: #F2F2F2"> {{ news.text }}</div>
    {% endautoescape %}
    <div class="row">
        <div class="col-md-6"></div>
        <div dir="rtl" class="col-md-6">
            {% for comment in comments %}
                {% include 'components/message.html' %}
            {% endfor %}
            <h4>فرم نظرخواهی</h4>
            <img id="line" style="" src="{{ BASE_DIR }}/static/img/liine3.jpg" alt="">
            <form method="post" action="">
                {% csrf_token %}
                <h4>نام</h4>
                <input type="text" class="form-control" name="name">
                <h4>نظر</h4>
                <textarea name="text" class="form-control"></textarea>
                <input type="submit" value="ثبت">
            </form>
        </div>
    </div>
{% endblock %}