{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% load date %}
{% block page_title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {% include 'components/relatedNews.html' %}
        </div>
        <div class="col-xs-9">
            <div class="panel panel-primary" >
                <div class="panel-body">
                    <div dir="rtl">{{ news.date|jalali }}</div>
                    {% if not can_edit %}
                        <h4 style="color: blue;;" dir="rtl">{{ news.title }}</h4>
                   {% endif %}
                    {% autoescape off %}
                        {% if not can_edit %}
                            <div dir="rtl" > {{ news.text }}</div>
                        {% else %}
                            <form action="" method="post" dir="rtl" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ editForm|crispy }}
                                <input type="submit" class="btn btn-success" value="به روز رسانی">
                                <input type="button" id="delete" class="btn btn-danger" value="حذف خبر">
                            </form>
                            <script>
                                $(document).ready(function(){
                                    $('#summernote').summernote();
                                    $('#summernote').code('{{ news.text }}');
                                    $('.note-editable').attr('dir','rtl');
                                    $('#delete').click(function(){
                                        if(confirm("این عمل غیر قابل بازگشت است. آیا اطمینان دارید ؟"))
                                            $.ajax({
                                                type:'DELETE',
                                                beforeSend: function (request)
                                                {
                                                    request.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                                                },
                                                success:function(data){

                                                        window.location="/";
                                                }
                                            });
                                    });
                                });
                            </script>
                        {% endif %}
                    {% endautoescape %}
                </div>
            </div>
            <div class="col-xs-4"></div>

        </div>
    </div>

{% endblock %}