<div class="panel panel-primary">

    <div class="panel-heading" >
        <span class="glyphicon glyphicon-link"></span>
        <div style="float: right">لینک های مرتبط</div>
    </div>
    <div class="panel-body">
        <a href="http://www.mfa.gov.ir/"> <img class="col-xs-12" src="{{ BASE_URL }}/static/img/links1.jpg"></a>

        <a  href="http://portal2.moi.ir/Portal/Home/"><img style="margin-top: 20px" class="col-xs-12" src="{{ BASE_URL }}/static/img/links2.jpg"></a>

        <a  href="http://www.president.ir/"><img style="margin-top: 20px" class="col-xs-12" src="{{ BASE_URL }}/static/img/links3.jpg"></a>

        <a  href="http://www.ichto.ir/"><img style="margin-top: 20px" class="col-xs-12" src="{{ BASE_URL }}/static/img/links4.jpg"></a>
    </div>
</div>